.cards__deleate {
    background-image: url(../../../images/deleate.svg);
    width: 18px;
    height: 19px;
    color: transparent;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
}