.profile__add-button {
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    width: 282px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

@media screen and (min-width: 1280px) {
    .profile__add-button {
        width: 150px;
        height: 50px;
        margin-left: auto;
        background-size: 22px 22px;
    }
}
